# Redirect all requests to public folder
<IfModule mod_rewrite.c>
    RewriteEngine on
    AddDefaultCharset UTF-8
    
    # If request is not for public directory
    RewriteCond %{REQUEST_URI} !^/public/
    
    # And not for existing files in root
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Redirect to public folder
    RewriteRule ^(.*)$ public/$1 [L,QSA]
</IfModule>
